// ===============Mixin====================
@mixin flexBox(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap,
  $justifyItem: flex-start,
  $colGap: 0px,
  $rowGap: 0px
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  column-gap: $colGap;
  row-gap: $rowGap;
}

@mixin font(
  $fontFamily: "Poppins",
  $fontSize: 1.6rem,
  $fontWeight: normal,
  $lineHeight: normal,
  $color: $text-color,
  $textTransform: none,
  $textDecoration: none,
) {
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
  text-transform: $textTransform;
  text-decoration: $textDecoration;
}


//Button
.btn {
  text-decoration: none;
  display: inline-block;
  background-color: $black-color;
  color: $white-color;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  transition: 0.3s;
  outline: none;
  border: none;

  &-icon{
    font-size: 1.8rem;
  }

  &:hover{
    background-color: $bgHover;
  }

  &--flex {
    @include flexBox($align: center, $colGap: 1.2rem);
    display: inline-flex;
  }
}

.grid{
  display: grid;
}

