//============================= Layout ====================================

body {
  background-color: $bgColor;
  @include font();
  height: 100%;
  transition: 0.5s ease;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 6rem 3.2rem;

  &__title {
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: $mb-40;

    &-gradient {
      background: $text-gradient;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  &.active-link {
    animation: fadeIn 2s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 968px) {

  .section {
    padding: 4rem 1.6rem;
  }

  .section__title {
    font-size: 6rem;
  }

  .section__title-desc {
    font-size: 2rem;
  }

  .section__desc {
    font-size: 1.2rem;
  }

  .section__btn {
    font-size: 1.6rem;
  }

  .section__price {
    font-size: 2rem;
  }

  .section__price-desc {
    font-size: 1.2rem;
  }

  .section__price-btn {
    font-size: 1.6rem;
  }
}
