//============================= GOOGLE FONT ====================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// ===============Variables====================
//color
$bgColor: hsl(206, 4%, 6%);
$containerColor: hsl(206, 4%, 10%);
$bgHover: #141515;
$text-color: #bdc0c2;
$black-color: #000;
$white-color: #fff;
$text-gradient: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));

//height
$header-height: 72px;

//margin
$mb-8: 8px;
$mb-12: 12px;
$mb-16: 16px;
$mb-24: 24px;
$mb-32: 32px;
$mb-40: 40px;
$mb-48: 48px;


