.case {

  &-container:last-child {
    margin-top: 100px;
  }

  &-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }

  &__content {
    width: 250px;

    .case__title {
      @include font(
        $fontSize: 1.6rem,
        $fontWeight: 600,
        $color: $white-color,
        $textTransform: uppercase
      );
      margin-bottom: $mb-12;
    }

    .case__desc {
      font-size: 1.3rem;
      margin-bottom: $mb-12;
    }
  }

  &__img {
    border-radius: 4px;
  }
}
