.footer {
  &-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding-top: 4.8rem;
  }

  &__logo {
    width: 40px;
  }

  &__content {
    .footer__title {
      font-size: 2rem;
      font-weight: 500;
      color: hsl(206, 4%, 95%);
      margin-bottom: $mb-16;
    }

    .footer__links {
      .footer__link {
        font-size: 1.6rem;
        text-decoration: none;
        color: hsl(206, 4%, 75%);
      }
    }

    .footer__form {
      @include flexBox($colGap: 0.8rem);
      background-color: $containerColor;
      border-radius: 8px;
      margin-bottom: $mb-32;
      padding: 8px 10px;

      .footer__input{
          width: 90%;
          outline: none;
          border: none;
          background: transparent;
          color: $white-color;
      }
    }

    .footer__social{
        @include flexBox($colGap: 1.8rem);

        &-link{
            @include font($fontSize: 1.6rem,$textDecoration: none,$color: $white-color);
            display: inline-flex;
            background-color: $containerColor;
            padding: 8px;
            border-radius: 8px;
            transition: .3s linear;

            &:hover{
                background-color: $black-color;
            }
        }
    }
  }

  &__copy{
    margin-top: 144px;

      &-link{
          text-align: center;
        @include font($fontSize: 1.3rem,$color: hsl(206, 4%, 65%), $textDecoration: none);
      }
  }
}
