.header {
  .nav {
    height: $header-height;
    @include flexBox($justify: space-between, $align: center);

    &__icon {
      width: 32px;
      height: 32px;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-menu {
      @include flexBox($align: center, $colGap: 3.5rem);

      &__link {
        margin-left: 10px;
        text-decoration: none;
        @include font($fontWeight: 600);
        text-transform: initial;
        background: $text-gradient;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 0.4s;

        &--active {
          color: white;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}
