.home {
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    .home-content {
      margin-top: 80px;
       
      &__title {
        @include font($fontWeight: 600, $fontSize: 10rem, $lineHeight: 9.6rem);
        background: $text-gradient;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }

      &__subtitle {
        @include font($fontWeight: 600, $fontSize: 6rem, $color: $white-color);
        margin-bottom: $mb-40;
      }

      &__title-desc {
        @include font($fontWeight: 500, $fontSize: 2rem, $color: $white-color);
        margin-bottom: $mb-16;
      }

      &__desc{
          @include font( $fontSize: 1.6rem);
          margin-bottom: $mb-40;
          padding-right: 8rem;
      }

      &__price{
        @include font($fontSize: 2rem, $fontWeight: 600);
        margin-left: $mb-12;
      }
      
    }
  }

  @media screen and (max-width: 1023px) {
    &-container {
      grid-template-columns: 1fr;

      .home-content {
        margin-top: 0;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .home-content {
      &__title {
        @include font($fontSize: 8rem, $lineHeight: 7.2rem);
      }

      &__subtitle {
        @include font($fontSize: 4rem);
      }

      &__title-desc {
        @include font($fontSize: 1.6rem);
      }

      &__desc{
        @include font($fontSize: 1.2rem);
        padding-right: 0 !important;
      }

      &__price{
        @include font($fontSize: 1.6rem);
      }
    }
  }
}
