/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  text-decoration: none;
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  transition: 0.3s;
  outline: none;
  border: none;
}
.btn-icon {
  font-size: 1.8rem;
}
.btn:hover {
  background-color: #141515;
}
.btn--flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 1.2rem;
  row-gap: 0px;
  display: inline-flex;
}

.grid {
  display: grid;
}

body {
  background-color: #0f0f10;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: normal;
  color: #bdc0c2;
  text-transform: none;
  text-decoration: none;
  height: 100%;
  transition: 0.5s ease;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 6rem 3.2rem;
}
.section__title {
  font-size: 10rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.section__title-gradient {
  background: linear-gradient(#3b3e40, #141515);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.section.active-link {
  animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 968px) {
  .section {
    padding: 4rem 1.6rem;
  }

  .section__title {
    font-size: 6rem;
  }

  .section__title-desc {
    font-size: 2rem;
  }

  .section__desc {
    font-size: 1.2rem;
  }

  .section__btn {
    font-size: 1.6rem;
  }

  .section__price {
    font-size: 2rem;
  }

  .section__price-desc {
    font-size: 1.2rem;
  }

  .section__price-btn {
    font-size: 1.6rem;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: #0f0f10;
}
.header .nav {
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 0px;
  row-gap: 0px;
}
.header .nav__icon {
  width: 32px;
  height: 32px;
  display: block;
}
.header .nav__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 3.5rem;
  row-gap: 0px;
}
.header .nav-menu__link {
  margin-left: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  color: #bdc0c2;
  text-transform: none;
  text-decoration: none;
  text-transform: initial;
  background: linear-gradient(#3b3e40, #141515);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 0.4s;
}
.header .nav-menu__link--active {
  color: white;
}
.header .nav-menu__link:hover {
  color: white;
}
.header .nav-menu .nav__close {
  display: none;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: normal;
  color: #bdc0c2;
  text-transform: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}
.header .nav-menu .nav__close:hover {
  opacity: 0.8;
}
.header .nav .nav__toggle {
  display: none;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: normal;
  color: #bdc0c2;
  text-transform: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}
@media all and (max-width: 1023px) {
  .header {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
@media all and (max-width: 767px) {
  .header .nav .nav__toggle {
    display: block;
  }
  .header .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #0f0f10;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 0px;
    row-gap: 5rem;
    display: none;
    animation: showMenu 0.4s linear;
  }
  .header .nav-menu__link {
    text-transform: uppercase;
    font-size: 2rem;
  }
  .header .nav-menu.show-menu {
    display: flex;
  }
  .header .nav-menu .nav__close {
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
  }
  @keyframes showMenu {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.home-container .home-content {
  margin-top: 80px;
}
.home-container .home-content__title {
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
  font-weight: 600;
  line-height: 9.6rem;
  color: #bdc0c2;
  text-transform: none;
  text-decoration: none;
  background: linear-gradient(#3b3e40, #141515);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.home-container .home-content__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 40px;
}
.home-container .home-content__title-desc {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 16px;
}
.home-container .home-content__desc {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: normal;
  color: #bdc0c2;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 40px;
  padding-right: 8rem;
}
.home-container .home-content__price {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  color: #bdc0c2;
  text-transform: none;
  text-decoration: none;
  margin-left: 12px;
}
@media screen and (max-width: 1023px) {
  .home-container {
    grid-template-columns: 1fr;
  }
  .home-container .home-content {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .home .home-content__title {
    font-family: "Poppins", sans-serif;
    font-size: 8rem;
    font-weight: normal;
    line-height: 7.2rem;
    color: #bdc0c2;
    text-transform: none;
    text-decoration: none;
  }
  .home .home-content__subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-weight: normal;
    line-height: normal;
    color: #bdc0c2;
    text-transform: none;
    text-decoration: none;
  }
  .home .home-content__title-desc {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: normal;
    color: #bdc0c2;
    text-transform: none;
    text-decoration: none;
  }
  .home .home-content__desc {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: normal;
    color: #bdc0c2;
    text-transform: none;
    text-decoration: none;
    padding-right: 0 !important;
  }
  .home .home-content__price {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: normal;
    color: #bdc0c2;
    text-transform: none;
    text-decoration: none;
  }
}

.social-container {
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}
.social-container .social__img {
  width: 100px;
}
@media screen and (max-width: 767px) {
  .social-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
}

.specs-container {
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
}
.specs__content {
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 24px;
}
.specs__content .specs__data {
  display: grid;
  row-gap: 4px;
}
.specs__content .specs__data:nth-child(1), .specs__content .specs__data:nth-child(4) {
  margin-left: 18px;
}
.specs__content .specs__data .specs__icon,
.specs__content .specs__data .specs__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  text-transform: none;
  text-decoration: none;
}
.specs__content .specs__data .specs__subtitle {
  font-size: 1.3rem;
}
.specs__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1023px) {
  .specs-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }
  .specs__content {
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 24px;
    padding-bottom: 24px;
  }
  .specs__content .specs__data {
    display: grid;
    row-gap: 4px;
  }
  .specs__content .specs__data:nth-child(1), .specs__content .specs__data:nth-child(4) {
    margin-left: 18px;
  }
  .specs__content .specs__data .specs__icon,
.specs__content .specs__data .specs__title {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    text-transform: none;
    text-decoration: none;
  }
}

.case-container:last-child {
  margin-top: 100px;
}
.case-container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.case__img-title {
  justify-self: center;
}
.case__content {
  width: 250px;
  position: relative;
  top: 0;
}
.case__content .case__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 12px;
}
.case__content .case__desc {
  font-size: 1.3rem;
  margin-bottom: 12px;
}
.case__img {
  border-radius: 4px;
}
@media screen and (max-width: 968px) {
  .case-container {
    grid-template-columns: 1fr;
  }
  .case__content {
    width: 100%;
  }
  .case__img-title {
    justify-self: center;
  }
  .case__content .case__title {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 12px;
  }
  .case__content .case__desc {
    font-size: 1.3rem;
    margin-bottom: 12px;
  }
}

.sound-container {
  background-color: #181a1b;
  padding: 20px;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .sound-video {
    width: 100%;
    height: auto;
  }
}
.products__line {
  line-height: 10rem;
}
.products .products-container {
  grid-template-columns: repeat(3, 162px);
  justify-content: center;
  gap: 92px 4.8rem;
  border-radius: 5px;
  padding-top: 8rem;
}
.products .products__card {
  height: 135px;
  position: relative;
  background-color: #181a1b;
  padding: 1.5rem;
  border-radius: 8px;
  display: grid;
}
.products .products__card .products__content {
  align-self: flex-end;
}
.products .products__card .products__content .products__img {
  position: absolute;
  inset: 0;
  top: -65px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: 0.2s linear;
}
.products .products__card .products__content .products__img:hover {
  transform: scale(1.2);
}
.products .products__card .products__content .products__title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: #f2f2f3;
  text-transform: none;
  text-decoration: none;
}
.products .products__card .products__content .products__price {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: #bdc0c2;
  text-transform: none;
  text-decoration: none;
}
.products .products__card .products__btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0.8rem;
}
@media screen and (max-width: 1023px) {
  .products .products-container {
    grid-template-columns: repeat(2, 162px);
    gap: 92px 1.8rem;
  }
}

.footer-container {
  grid-template-columns: 0.4fr 0.7fr 0.7fr 1fr;
  padding-top: 4.8rem;
}
.footer__logo {
  width: 40px;
}
.footer__content .footer__title {
  font-size: 2rem;
  font-weight: 500;
  color: #f2f2f3;
  margin-bottom: 16px;
}
.footer__content .footer__links .footer__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #bdc0c2;
}
.footer__content .footer__form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  column-gap: 0.8rem;
  row-gap: 0px;
  background-color: #181a1b;
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 8px 10px;
}
.footer__content .footer__form .footer__input {
  width: 90%;
  outline: none;
  border: none;
  background: transparent;
  color: #fff;
}
.footer__content .footer__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  column-gap: 1.8rem;
  row-gap: 0px;
}
.footer__content .footer__social-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: normal;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  display: inline-flex;
  background-color: #181a1b;
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s linear;
}
.footer__content .footer__social-link:hover {
  background-color: #000;
}
.footer__copy {
  margin-top: 144px;
}
.footer__copy-link {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: normal;
  color: #a2a6a9;
  text-transform: none;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .footer__content .footer__title {
    font-size: 1.8rem;
  }
  .footer__content .footer__links {
    margin-bottom: 24px;
  }
  .footer__content .footer__links .footer__link {
    font-size: 1.5rem;
  }
  .footer__content .footer__form .footer__input {
    width: 100%;
  }
  .footer__copy {
    margin-top: 100px;
  }
}

.btn__scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
}
.btn__scrollTop i::before {
  font-size: 2.5rem;
}

.show-scroll {
  display: block;
  transition: all 0.7s linear;
  animation: show-scroll-animation 1s linear;
}

@keyframes show-scroll-animation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=global.css.map */
